@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.site-header {
    .container {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1171px;
        height: 108px;
        margin: 0 auto;
        margin-bottom: 61px;
        padding-left: 128px;
        padding-right: 141px;
        background-color: #fff9ea;
    }

    &__nav {
        width: 565px;
    }

    &__list {
        display: flex;
        list-style: none;
        column-gap: 37px;
    }

    &__item {
        height: 38px;
    }

    &__link {
        font-weight: 500;
        font-size: 22px;
        height: 28px;
        text-decoration: none;
        color: black;
    }

    &__icon-wrapper {
        display: flex;
        align-items: center;
        column-gap: 32px;
        height: 39px;
    }

    &__icon-wrapper i {
        font-size: 26px;
    }

    .btn {
        font-weight: 700;
        font-size: 14px;
        padding: 12px 24px;
        border-radius: 50px;
        background: #ffcb45;
        border: 2px solid #ffcb45;
    }

    .btn i {
        margin-right: 16px;
        font-size: 17px;
    }

}

.site-main {
    &__hero {
        .container {
            display: flex;
            column-gap: 200px;
            width: 100%;
            max-width: 1180px;
            padding: 0 130px;
            margin: 0 auto;
            background-image: url("../images/shapes.svg");
        }
    }

    &__title {
        margin-top: 176px;
        margin-bottom: 21px;
        width: 480px;
        font-weight: 600;
        font-size: 48px;
        color: black;
    }

    &__span {
        color: #ffcb45;
    }

    &__desc {
        margin-bottom: 23px;
        width: 310px;
        font-weight: 400;
        font-size: 18px;
        color: rgba(29, 29, 29, 0.7);
    }

    .btn {
        font-weight: 700;
        font-size: 14px;
        padding: 12px 24px;
        border-radius: 50px;
        border: 2px solid #ffcb45;
        background-color: #ffcb45;
    }

    &--btn2 {
        float: left;
    }

    &__howit {
        .container {
            width: 1032px;
            margin: 0 auto;
            padding: 61px 204px;
        }
    }

    &__title2 {
        font-weight: 500;
        font-size: 22px;
        text-align: center;
        color: #ffcb45;
        margin-bottom: 7px;
    }

    &__title3 {
        font-weight: 700;
        font-size: 32px;
        text-align: center;
        color: black;
        margin-bottom: 26px;
    }

    &__desc2 {
        width: 590px;
        font-weight: 500;
        font-size: 22px;
        text-align: center;
        color: rgba(29, 29, 29, 0.7);
        margin: 0 auto;
        margin-bottom: 32px;
    }

    &__list {
        display: flex;
        column-gap: 156px;
        list-style: none;
    }

    &__item {
        width: 195px;
        text-align: center;
    }

    &__image {
        margin-bottom: 24px;
    }

    &__title4 {
        font-weight: 600;
        font-size: 28px;
        margin-bottom: 15px;
    }

    &__desc3 {
        font-weight: 500;
        font-size: 20px;
        color: rgba(29, 29, 29, 0.7);
    }

    &__title5 {
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
    }

    &--prag {
        width: 114px;
        margin-bottom: 13px;
        margin: 0 auto;
    }

    &--list {
        justify-content: center;
        margin: 0 auto;
        column-gap: 24px;
        margin-bottom: 71px;
    }

    &--item {
        width: 280px;
        height: 371px;
        border-radius: 10px;
        background-color: #f1f1f1;
        box-shadow: 2px 5px 12px 0 rgba(0, 0, 0, 0.15);
    }

    &__all {
        padding-top: 15px;
        width: 280px;
        height: 112px;
        background-image: url("../images/bg.svg");
        background-repeat: no-repeat;
    }

    &__b {
        width: 96px;
        font-weight: 500;
        font-size: 22px;
        margin-right: 162px;
    }

    &--btn {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    &__about {
        .container {
            display: flex;
            width: 1090px;
            margin: 0 auto;
            column-gap: 101px;
            padding: 61px 170px;
            overflow: hidden;
        }
    }

    &--title2 {
        text-align: start;
    }

    &--list {
        column-gap: 24px;
    }

    &--item1 {
        border-radius: 10px;
        width: 452px;
        height: 210px;
        padding: 28px 20px;
        background: #f1f1f1;
    }

    &__top {
        display: flex;
        column-gap: 18px;
        margin-bottom: 24px;
    }

    &--title5 {
        text-align: start;
    }

    &--desc {
        width: 372px;
        text-align: start;
    }

    &__star-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__join {
        .container {
            border-radius: 10px;
            padding: 92px 328px;
            background-image: url("../images/bgveg.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &--title6 {
        width: 434px;
        margin: 0 auto;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 32px;
        color: white;
    }

    .btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        font-size: 14px;
        padding: 12px 24px;
        border-radius: 50px;
        border: 2px solid #ffcb45;
        background-color: #ffcb45;
    }
}

.site-footer {

    .container {
        width: 100%;
        max-width: 1180px;
        margin: 0 auto;
        margin-top: 61px;
        padding: 84px 130px;
        background-image: url("../images/shapes.svg");
        background-repeat: no-repeat;
    }

    &__first {
        margin-right: 72px;
    }

    &__second {
        margin-right: 189px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        list-style: none;
    }

    &__link {
        font-weight: 400;
        font-size: 18px;
        text-decoration: none;
        color: rgba(29, 29, 29, 0.7);
    }

    &__wrapper {
        display: flex;
        column-gap: 24px;
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 31px;
    }

    &__phone-desc {
        font-weight: 400;
        font-size: 18px;
        color: rgba(29, 29, 29, 0.7);
        margin-bottom: 16px;
    }

    &__icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 48px;
        border-radius: 10px;
        box-shadow: 0 4px 12px 0 rgba(29, 29, 29, 0.15);
        background-color: white;
    }

    &__icon-wrapper i {
        font-size: 23px;
        color: black;
    }

    &__desc {
        width: 320px;
        font-weight: 400;
        font-size: 20px;
        color: rgba(29, 29, 29, 0.7);
        margin-top: 24px;
        margin-bottom: 32px;
    }

    &__cont-wrapper {
        display: flex;
        margin-bottom: 91px;
    }

    &__desc2 {
        font-weight: 400;
        font-size: 16px;
        color: black;
        text-align: center;
        margin-top: 46px;
    }

    &__hr-wrapper {
        width: 1180px;
    }
}